body {

  margin: 0;

  min-height: 100vh;

  background:
    linear-gradient(
      135deg,
      #090016,
      #12002b,
      #1a0040,
      #001b4d
    );

  color: white;

  font-family: Arial;

  text-align: center;

  overflow-x: hidden;
}

#menu,
#game {

  margin-top: 60px;
}

h1 {

  font-size: 60px;

  color: #9d7bff;

  text-shadow:
    0 0 10px #7b5cff,
    0 0 25px #4c8dff;
}

p {

  color: #cfcfff;

  font-size: 22px;
}

input {

  padding: 12px;

  width: 260px;

  font-size: 18px;

  border: none;

  border-radius: 10px;

  background: #1f1f3a;

  color: white;
}

button {

  padding: 12px 22px;

  margin: 10px;

  font-size: 18px;

  border: none;

  border-radius: 12px;

  cursor: pointer;

  color: white;

  background:
    linear-gradient(
      135deg,
      #6d3dff,
      #2e8cff
    );

  transition: 0.2s;
}

button:hover {

  transform: scale(1.05);

  box-shadow:
    0 0 15px #5c7dff;
}

.answerBtn {

  display: block;

  width: 420px;

  max-width: 90%;

  margin: 15px auto;
}

.selectedAnswer {

  background:
    linear-gradient(
      135deg,
      #33bbff,
      #77ddff
    ) !important;

  box-shadow:
    0 0 20px #4dcfff;
}

#question {

  font-size: 38px;

  margin: 50px;

  color: #ffffff;

  min-height: 90px;
}

#questionNumber {

  margin-top: 20px;

  font-size: 26px;

  color: #8fb6ff;
}

#waitingText {

  margin-top: 20px;

  font-size: 24px;

  color: #7fdcff;
}

#result {

  margin-top: 30px;

  font-size: 24px;

  color: #d6c7ff;
}

#topBar {

  display: flex;

  justify-content: space-around;

  margin-bottom: 25px;

  font-size: 24px;

  color: #8fb6ff;
}

#menuBtn {

  position: fixed;

  top: 20px;

  right: 20px;
}

#status {

  margin-top: 20px;

  font-size: 20px;

  color: #c5b3ff;
}

#hostBox {

  position: fixed;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);

  display: none;

  align-items: flex-end;

  gap: 18px;

  z-index: 999;

  transition: 0.5s;
}

#hostImage {

  width: 160px;

  height: 160px;

  border-radius: 20px;

  border: 4px solid #7a8fff;

  object-fit: cover;

  box-shadow:
    0 0 25px #5f7dff;
}

#hostTextBox {

  width: 580px;

  min-height: 150px;

  background: rgba(10,10,30,0.97);

  border: 4px solid #6d7cff;

  border-radius: 24px;

  padding: 20px;

  text-align: left;

  box-shadow:
    0 0 30px rgba(80,120,255,0.4);
}

#hostTitle {

  color: #7fc4ff;

  font-size: 30px;

  margin-bottom: 12px;

  font-weight: bold;
}

#hostText {

  font-size: 27px;

  color: white;

  line-height: 1.4;
}

.hostCorner {

  left: auto !important;

  top: 15px !important;

  right: 15px !important;

  transform: none !important;
}

.hostCorner #hostImage {

  width: 95px;

  height: 95px;
}

.hostCorner #hostTextBox {

  display: none;
}
